In [9]:
import pandas as pd
from pathlib import Path

In [10]:
# Set filepath
file = Path("Resources/election_data.csv")

In [11]:
# Read in CSV
df = pd.read_csv(file)
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [12]:
# Count of values in each column
df.count()

Ballot ID    369711
County       369711
Candidate    369711
dtype: int64

In [13]:
# Count of values in Candidate column
count = df["Candidate"].count()
count

369711

In [14]:
# Finds unique Candidate Values
df_unique = df["Candidate"].unique()
df_unique

array(['Charles Casper Stockham', 'Diana DeGette', 'Raymon Anthony Doane'],
      dtype=object)

In [15]:
# Tally votes for each candidate
candidate_counts = df["Candidate"].value_counts()
candidate_counts

Candidate
Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: count, dtype: int64

In [16]:
#Determine candidate with the most votes
#ChatGPT
winner = candidate_counts.idxmax()
winner

'Diana DeGette'

In [17]:
# Divide candidate votes into the total to get a % Total
#ChatGPT
candidate_percent = candidate_counts.div(df["Candidate"].count()) * 100
candidate_percent

Candidate
Diana DeGette              73.812248
Charles Casper Stockham    23.048543
Raymon Anthony Doane        3.139209
Name: count, dtype: float64

In [18]:
# Create an output for the data
#ChatGPT
output_df = pd.DataFrame({
    'Counts': candidate_counts,
    'Percentage (%)': candidate_percent
})

output_df

                         Counts  Percentage (%)
Candidate
Diana DeGette            272892       73.812248
Charles Casper Stockham   85213       23.048543
Raymon Anthony Doane      11606        3.139209

In [21]:
# Print Total Vote counts and Candidate results to file
#ChatGPT
election_path = "analysis/election_output.txt"

with open(election_path, "w") as file:
    file.write(f"Total Votes: {count}\n\n")
    file.write(output_df.to_string())
    file.write(f"\n\nWinner is {winner}")