In [24]:
import pandas as pd
from pathlib import Path

In [25]:
# Set file path
file = Path("Resources/budget_data.csv")

In [26]:
# Read in CSV
df = pd.read_csv(file)
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [27]:
# Find unique values in the Date column
df_unique = df["Date"].unique()
df_unique

array(['Jan-10', 'Feb-10', 'Mar-10', 'Apr-10', 'May-10', 'Jun-10',
       'Jul-10', 'Aug-10', 'Sep-10', 'Oct-10', 'Nov-10', 'Dec-10',
       'Jan-11', 'Feb-11', 'Mar-11', 'Apr-11', 'May-11', 'Jun-11',
       'Jul-11', 'Aug-11', 'Sep-11', 'Oct-11', 'Nov-11', 'Dec-11',
       'Jan-12', 'Feb-12', 'Mar-12', 'Apr-12', 'May-12', 'Jun-12',
       'Jul-12', 'Aug-12', 'Sep-12', 'Oct-12', 'Nov-12', 'Dec-12',
       'Jan-13', 'Feb-13', 'Mar-13', 'Apr-13', 'May-13', 'Jun-13',
       'Jul-13', 'Aug-13', 'Sep-13', 'Oct-13', 'Nov-13', 'Dec-13',
       'Jan-14', 'Feb-14', 'Mar-14', 'Apr-14', 'May-14', 'Jun-14',
       'Jul-14', 'Aug-14', 'Sep-14', 'Oct-14', 'Nov-14', 'Dec-14',
       'Jan-15', 'Feb-15', 'Mar-15', 'Apr-15', 'May-15', 'Jun-15',
       'Jul-15', 'Aug-15', 'Sep-15', 'Oct-15', 'Nov-15', 'Dec-15',
       'Jan-16', 'Feb-16', 'Mar-16', 'Apr-16', 'May-16', 'Jun-16',
       'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16',
       'Jan-17', 'Feb-17'], dtype=object)

In [28]:
# Count the values in the unique list above
count = len(df_unique)
count

86

In [29]:
# Sum of Profit/Losses column for total net change
df_net = df["Profit/Losses"].sum()
df_net

22564198

In [30]:
# Calculating difference of cells
df["Profit Change"] = df["Profit/Losses"].diff()

In [32]:
# Changes in Profit/Losses and the Average
df_avg = df["Profit Change"].mean()
df_avg

-8311.105882352942

In [33]:
# Greatest Increase
# ChatGPT
max_month_index = df["Profit Change"].idxmax()
df_inc = df["Profit Change"].max()

max_month = df.iloc[max_month_index,0]
inc_output = f"{max_month} {df_inc}"
inc_output

'Aug-16 1862002.0'

In [34]:
# Greatest Decrease
#ChatGPT
min_month_index = df["Profit Change"].idxmin()
df_dec = df["Profit Change"].min()

min_month = df.iloc[min_month_index,0]
dec_output = f"{min_month} {df_dec}"
dec_output

'Feb-14 -1825558.0'

In [35]:
# Create and print to file
#ChatGPT
analysis_path = "analysis/analysis_output.txt"
data = f"Total Months: {count}, \n\nTotal Sum: {df_net}, \n\nAvg Change: {df_avg}, \n\nGreatest Increase in Profit: {inc_output}, \n\nGreatest Decrease in Profit: {dec_output}"

with open(analysis_path, "w") as file:
    file.write(data)